.Sdropdownbase {
display:inline-block;
position:relative;
font-size: 2rem;
flex-direction: column;
justify-content: flex-start;
align-items: left;
height: 2.5rem;
background-color: rgb(22, 76, 255);
}



.expand {
justify-content: start;
background-color: rgb(255, 255, 200);
width:100%;
border: 0px;
font-size: 2rem;
text-align: left;
padding:0px;
}

.items{
display: none;
position: absolute;
width:100%;
background-color: rgb(22, 76, 255);
border: 2px solid rgba(223, 220, 220, 0.411);
z-index: 1;
}

.Sdropdownfull {
display:block;
}